#app {
    height: 100%;
}

#app > div {
    height: 100%;
}

.ant-layout-header{
    height: 36px !important;
    line-height: 36px !important;
}
.ant-layout{
    height: 100% !important;
}

.ant-layout-content{
    margin: 0px !important;
}

.ant-layout-footer{
    width: 100%;
    padding: 8px 50px !important;
    border-top: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    background: #FFFFFF;
}


#components-layout-demo-side {
    display: block;
}
#components-layout-demo-side .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

#components-layout-demo-side .ant-layout-sider-collapsed{
    display: none;
}
#components-layout-demo-side .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .nav-text {
    display: none;
}

#components-layout-demo-side .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    display: none;
}
.app-container{
    /*display: table;*/
    height: 100%;
    width: 100%;
    /*font-family: fantasy;*/
}

.ant-menu-root{
    margin-bottom: 86px !important;
}


.ant-layout-sider-trigger{
    display: none !important;
    /*width: 50% !important;*/
    /*margin-left: 50%;*/
    /*border-top: 1px solid #949090 !important;*/
    /*border-left: 1px solid #949090 !important;*/
}
.ant-layout-sider{
    width: 16% !important;
    float: left;
    height: 100%;
    display: block;
}

.ant-layout-sider-trigger{
    bottom: 0px !important;
}
.gl-right-layout{
    width: 84% !important;
    background: #ffffff;
    padding-bottom: 35px;
}
.gl-right-layout>div{
    display: block;
}

.gl-content{
    display: block;
}
.ant-menu-root{
    height: 93%;
    overflow-y: auto;
}
.ant-layout-content{
    display: -webkit-box;
    width: 100%;
    height: 91%;
    margin-top: 36px !important;
    min-height: 604px;
    z-index: 0;
    background: #ffffff;
    overflow: hidden;
}
.backcenter{
    width: 24%;
    display: block;
    margin: 0px 30%;
    border-top: 1px solid #bfb5b5;
    background: #3b3b3b;
    border-radius: 0px 0px 10px 10px;
}

.backcenter.hidden{
    display: none;
}

.backcenter.close{
    width: 24%;
    margin: 0px 48% auto;
    display: block;
    border-top: 1px solid #bfb5b5;
    background: #3b3b3b;
    border-radius: 0px 0px 10px 10px;
}
.gl-main-back-btn{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background: #3b3b3b;
    border: none;
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 5px #888888;
    -moz-box-shadow: 0px 5px 5px #888888;
    box-shadow: 0px 5px 5px #888888;
}
.gl-main-back-btn:focus, .gl-main-back-btn:hover{
    background-color: rgba(22, 20, 20, 0.96) !important;
}


.gl-half-r-btn{
    width: 50%;
    border-radius: 0px 0px 10px 0px;
    background: #3b3b3b;
    border: none;
    color: #ffffff;
    box-shadow: 0px 5px 5px #888888;

}

.gl-half-l-btn{
    width: 50%;
    border-radius: 0px 0px 0px 10px;
    background: #3b3b3b;
    border: none;
    color: #ffffff;
    border-right: 1px solid #bbb7b7;
    box-shadow: 0px 5px 5px #888888;
}

.ant-layout-header{
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 0 20px!important;
    font-size: 17px;
    background: #3b3b3b!important;
    color: #fff!important;
    border-radius: 0!important;
    font-family: inherit!important;
    height: 36px !important;
    line-height: 36px !important;
}
.button-div-header{
    float: right;
    margin: 6px 0px;
    color: #ffffff;
    background: #3b3b3b;
}
.add-test-group-btn {
    padding: 0px;
    margin-left: 0%;
    position: absolute !important;
    text-align: center;
    width: 100%;
    bottom: 0px;
    cursor: pointer;
    height: 48px;
    border: 0px !important;
    border-top: 1px solid #949090 !important;
    border-radius: 0px !important;
    line-height: 48px;
    background: rgba(64, 64, 64, 0.88) !important;
    color: #fff !important;
}



.ant-layout-sider.ant-layout-sider-collapsed{
    width: 0px !important;
}