#app {
    height: 100%;
}

#app > div {
    height: 100%;
}

.ant-layout-header{
    height: 36px !important;
    line-height: 36px !important;
}
.ant-layout{
    height: 100% !important;
}

.ant-layout-content{
    margin: 0px !important;
}

.ant-layout-footer{
    width: 100%;
    padding: 8px 50px !important;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    background: #FFFFFF;
}

.ant-breadcrumb{
    margin: 12px !important;
}

#components-layout-demo-side .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .nav-text {
    display: none;
}

#components-layout-demo-side .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    display: none;
}
.app-container{
    /*display: table;*/
    height: 100%;
    width: 100%;
    /*font-family: fantasy;*/
}

.ant-menu-root{
    margin-bottom: 86px !important;
}


.ant-layout-sider-trigger{
    width: 50% !important;
    margin-left: 50%;
    border-top: 1px solid #949090 !important;
    border-left: 1px solid #949090 !important;
}
.ant-layout-sider{
    width: 16% !important;
    float: left;
}

.ant-layout-sider-trigger{
    bottom: 34px !important;
}
.gl-right-layout{
    width: 84% !important;
    background: #ffffff;
    padding-bottom: 35px;
}
.gl-right-layout>div{
    display: block;
}

.gl-content{
    display: block;
}
.ant-layout-content{
    display: -webkit-box;
    width: 100%;
    margin: 40px 0 0 !important;
    min-height: 604px;
    z-index: 0;
    background: #ffffff;
}
.ant-layout-header{
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 0 20px!important;
    font-size: 17px;
    background: #3b3b3b!important;
    color: #fff!important;
    border-radius: 0!important;
    font-family: inherit!important;
    height: 40px !important;
    line-height: 40px !important;
}
.button-div-header{
    float: right;
    margin: 6px 0px;
}
.add-test-group-btn {
    padding: 0px;
    margin-left: 0%;
    position: absolute !important;
    text-align: center;
    width: 50%;
    bottom: 34px;
    cursor: pointer;
    height: 48px;
    border: 0px !important;
    border-top: 1px solid #949090 !important;
    border-radius: 0px !important;
    line-height: 48px;
    background: rgba(64, 64, 64, 0.88) !important;
    color: #fff !important;
}