.stragety-div>div{
    width: 24%;
    float: left;
    overflow-y: auto;
}

.stragety-div>div>div {
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(158, 153, 153, 0.22);
}
.stragety-div>div>span {
    display: block;
    height: 12px;
    margin: 6px 10px;
    text-align: center;

}



.ant-input-affix-wrapper .ant-input:not(:first-child) {
    margin: 2px auto;
}

.ant-confirm .ant-confirm-btns{
    display: none;
    margin-top: 12px;
    float: right;
    margin-right: 10%;
}
.ant-form-item-label{
    width: 18% !important;
}

.ant-form-inline .ant-form-item{
    width: 100%;
}
.gl-version-form{
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: 0 auto;
}

.gl-version-input{
    width: 100%;
    margin: 5px auto;
}
.ant-form-inline .ant-form-item > div{
    width: 70%;
}

.gl-version-btn{
    text-align: center;
    display: block !important;
    margin-top: 20px;
}
.ant-popover-inner-content .gl-line-div{
    width: 100%;
}
.ant-popover-inner-content .gl-line{
    width: 50%;
}
.gl-version-btn button
{
    margin: 0px 12px;
    width: 80px;
}
.ant-input-prefix {
    left: 7px;
}
.gl-version-div{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}


.add-stragety>div>.title{
    text-align: center;
    height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #d2cccc;
    margin: 0 auto;
    width: 22%;
    margin-bottom: 40px;
}

.ant-confirm-body .ant-confirm-content{
    margin: 0px;
    margin-top: 24px !important;
}

.ant-confirm .ant-modal-body{
    padding: 30px 10px;
}

.ant-table ant-table-large ant-table-scroll-position-left ant-table-scroll-position-right{
    margin-left:10px !important;
}

.gl-testinfo-table{
    width: 100%;
    float: left;
}
.gl-left-btn {
    border: none;
}
.content-panel{
    padding: 0px !important;
}

.gl-testinfo-btndiv{
    margin: 6px 2px 0px 2px;
}
.gl-right-btn {
    margin: 0px 4px 4px 4px;
    float: right;
}

.ant-calendar-picker{
    width: 100% !important;
    min-width: 200px !important;
}
.form .ant-select{
    width: 100% !important;
    min-width: 200px !important;
}
form textarea.ant-input{
    width: 100% ;
    min-width: 200px !important;
}

.gl-input-with-btn{
    width: 80% !important;
}
.gl-input-btn{
    width: 18% !important;
    height: 46px;
    margin-left: 2%;
}

.gl-choice-remove{
    font-size: 12px;
    margin-left: -22px;
    color: #969696;
    cursor: hand;
}

.anticon{
    cursor: pointer
}
.gl-choice-remove:before {

}
.gl-url-add-seleted{
    padding: 0px 22px 0px 8px;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 3px 6px 3px 0px;
    text-align: center;
    border: #383232;
    background: #f3f3f3;
    border-radius: 4px;
}
.gl-add-type{
    display: none;
}
.gl-url-add-div {
    display: flex;
    height: 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 4px;
}

.gl-line{
    width: 38%;
    display: block;
    float: left;
    border-bottom: 1px dashed #d9d9d9;
}

/*.gl-url-add-div>div{*/
    /*width: 50px;*/
/*}*/

.gl-line-div{
    width: 80%;
    margin: 0 auto;
}

.gl-line-form{
    margin: 0px;
}
.gl-line-content{
    float: left;
    color: #cdcdcd;
    font-size: 12px !important;
    margin: -16px 4px 0px 4px;
}
