.stragety-div>div{
    width: 48%;
    height: 100px;
    float: left;
    overflow-y: auto;
}

.stragety-div>div>div {
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(158, 153, 153, 0.22);
}
.stragety-div>div>span {
    display: block;
    height:20px;
    margin: 4px 10px;
    text-align: center;

}

.add-stragety>div>.title{
    text-align: center;
    height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #d2cccc;
    margin: 0 auto;
    width: 22%;
    margin-bottom: 40px;
}

.ant-confirm-body .ant-confirm-content{
    margin: 0px;
}

.ant-confirm .ant-modal-body{
    padding: 30px 10px;
}

.ant-table ant-table-large ant-table-scroll-position-left ant-table-scroll-position-right{
    margin-left:10px !important;
}

.gl-testinfo-table{
    width: 100%;
    float: left;
}
.gl-left-btn {
    border: none;
}
.content-panel{
    padding: 0px !important;
}

.gl-testinfo-btndiv{
    margin: 7px 2px;
}
.gl-right-btn {
    margin: 0px 4px 4px 4px;
    float: right;
}

.ant-calendar-picker{
    width: 100% !important;
    min-width: 200px !important;
}
.form .ant-select{
    width: 100% !important;
    min-width: 200px !important;
}
form textarea.ant-input{
    width: 100% ;
    min-width: 200px !important;
}

.gl-input-with-btn{
    width: 80% !important;
}
.gl-input-btn{
    width: 18% !important;
    margin-left: 2%;
}

.gl-choice-remove{
    font-size: 12px;
    margin-left: -22px;
    color: #969696;
    cursor: hand;
}

.anticon{
    cursor: pointer
}
.gl-choice-remove:before {

}
.gl-url-add-seleted{
    padding: 0px 22px 0px 8px;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 3px 6px;
    text-align: center;
    border: #383232;
    background: #f3f3f3;
    border-radius: 4px;
}

.gl-url-add-div {
    display: flex;
}