.main-container{padding:0 100px 22px 0;}
.editable-cell {
    position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
    padding-right: 24px;
}

.editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.editable-cell-icon {
    line-height: 18px;
    display: none;
}

.editable-cell-icon-check {
    line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.editable-add-btn {
    margin-bottom: 8px;
}

.mainpage{
    height:100%;
    overflow-y: auto;
    padding:12px;
    position: relative;
}
.mainpage .ant-cascader-picker{
    width:250px;
    margin-bottom: 20px;
}
.dropdownBox,.spanBox{
    width:33%;text-align: center;display: inline-block;
}
.rangepickerBox{
    display: inline-block;
    float: right;
}
.rangepickerBox .ant-calendar-picker{
    width: 200px!important;
}
.dropdownBox,.spanBox,.rangepickerBox{
    font-size: 15px;
    margin-bottom: 40px;
}
.tableBox{
    padding: 50px 100px;
}
.dropdownBox{
    text-align: left;
    font-size: 14px;
}
.CascaderBox{
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 14px;
}
.CascaderBox .ant-cascader-picker{
    width:100px;
}
.clear{clear: both;}
#content_two{position: relative;}
#content_two .back{position: absolute;top:0px;}
.tableBox{position: relative;}
.tableBox .export{position: absolute;top:55px;right: 60px;}
#content_one .ant-table-wrapper,#content_two .ant-table-wrapper{padding: 0 80px;}
.ant-table.ant-table-bordered .ant-table-title{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background: #4ea1dc;
    color: #fff;
    padding: 7px 0;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{height:45px;line-height:45px;font-size:15px}
.ant-collapse > .ant-collapse-item{position: relative;}
.ant-collapse > .ant-collapse-item .collbutton{position:absolute;top:8px;right:20px}
.increase{color:red}
.decrease{color:green}
.device_button,.stragety_button{position: absolute;top:30px;}
.device_button{right: 160px;}
.stragety_button{right: 50px;}
.ant-tabs-nav{margin-left: 40%;}
.tableBox{font-family: arial;}
.ant-cascader-picker-label{padding:2px 12px 0 8px;}
.ant-cascader-picker-clear{display: none;}
.ant-cascader-menu .ant-cascader-menu-item-disabled[title ='运行中']{color:#555;font-weight:bold;padding-left:9px;}
.ant-cascader-menu .ant-cascader-menu-item-disabled[title ='新生成']{color:#555;font-weight:bold;padding-left:9px;}
.ant-cascader-menu .ant-cascader-menu-item-disabled[title ='已停止']{color:#555;font-weight:bold;padding-left:9px;}





