.ant-col-sm-16{
    float: none;
    width: 240px;
}
.editable-cell-icon{
    line-height: 4px;
}
.ant-col-sm-offset-8{
    float: none;
    width: 240px;
}
.ant-table table{
    text-align: center;
}
.ant-table-thead > tr > th{
    text-align: center;
}
.gl-btn{
    margin: 0px 3px;
}
.ant-form-item-control>.ant-btn-primary{
    width: 96px;
    margin-left: 10px;
}

.server-btn {
    margin: 4px;
}

.ant-tabs-nav{
    margin-left: 2px;
}

.slbBox{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-size: 14px;
}
.slbBox>.ant-btn{
    margin-left: 10px;
}
.slbBox>.labelspan{
    width: 80px;
    display: inline-block;
    text-align: left;
}

.slbBox>.ant-input{
    width: 240px;
}
.slbBox>.editable-cell{
    width: 240px;
    display: inline-block;
    text-align: left;
}
.slbInformation{font-size: 14px;float: left;margin-left: 20px;}
.slbInformation .labelspan{margin-right: 20px;}
