.content-panel {
    padding: 5px 4px;
    background: '#fff';
    minHeight: 360
}

.ant-layout-content{
    background: #ffffff;
}

.gl-addslb-btn{
    position: absolute;
    top: 10px;
    right: 30px;
}